@charset "utf-8";
/* CSS Document */

#orodna_vrstica {
	background-color: darkgrey;
	height: 50px;
	width: 100%;
	text-align: center;
}

#logo{
	float: left;
}

#registracija {
	float: right;
	margin-left: 10%;
}

#prijava {
	float: right;
	margin-left: 10%;
}

#leva_reklama {
	float: left;
	background-color: blueviolet;
	border-style: solid;
	width: 10%;
	height: 600px;
	margin-top: 5%;
	margin-bottom: 10%;
}

#desna_reklama {
	float: right;
	background-color: blueviolet;
	border-style: solid;
	width: 10%;
	height: 600px;
	margin-top: 5%;
	margin-bottom: 10%;
}

#vsebina {
	margin: 0;
	width: 50%;
	text-align: center;
}

table{
	border-collapse: collapse;
}

td {
	margin: 50px;
	border: 1px solid black;
}


footer{
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
	height: 50px;
	text-align: center;
	background-color: darkgrey;
}

body {
	background-color: dimgrey;
}